<div class="container-fluid p-3 my-3">
  <div class="row">
    <div class="card">

      <form [formGroup]="resetForgotPassword.formModel"(submit)="onSubmit()" autocomplete="off">
        <div class="form-group">
          <input type="text" id="no" formControlName="TechnicianNo" [(ngModel)]="TechnicianNo"  class="form-control" hidden>
        </div>
        <div class="form-group">
          <label for="password">Password </label>
          <input type="password" formControlName="Password" class="form-control" id="password" placeholder="Password">
          <div *ngIf="f.Password.touched && f.Password.invalid" class=" text-danger">
            <div *ngIf="f.Password.errors?.required">Password is required.</div>
            Minimum 8 characters with aleast 1 Lowercase,1 Uppercase and 1 Digit Password or special Character
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" formControlName="ConfirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password">
          <div *ngIf="f.ConfirmPassword.touched && f.ConfirmPassword.invalid" class=" text-danger">
            <div *ngIf="f.ConfirmPassword.errors?.required">Password is required.</div>
            <div *ngIf="f.ConfirmPassword?.errors?.confirmedValidator">Password and Confirm Password must be match.</div>
          </div>
        </div>
        <div class="form-group" *ngIf="resetForgotPassword.formModel.valid">
          <re-captcha  (resolved)="resolved($event)" siteKey="6LdVK0oaAAAAADpp3hfCEYpLchC2GiBJREfzziwV">
          </re-captcha>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [class.grey]="disabled"  [disabled]="disabled">Submit</button>
      </form>
    </div>
  </div>
</div>
