<div class="row">
    <div class="container-fluid">
        <div class="card">
            <form class="form-horizontal" [formGroup]="inspectionService.formModel" (submit)="onSubmit()">
                <div class="row">
                    <div class="row col-sm-6">
                        <!-- Area Of Inspection Field -->
                        <div class="form-group col-sm-12 ml-5 mt-5">
                            <label for="inspection_Type">Area of Inspection</label>
                            <select class="form-control" id="inspection_Type" formControlName="Type"
                                (change)="getInspectionItems($any($event.target).value)">
                                <option [ngValue]="undefined" selected>Select</option>
                                <option *ngFor="let inspectionItemType of inspectionService.inspectionItemTypes"
                                    [value]="inspectionItemType.Code">
                                    {{inspectionItemType.Description}}
                            </select>
                            <div *ngIf="f.Type.errors?.required && f.Type.invalid" class=" text-danger">
                            </div>
                        </div>
                        <!-- Item Code Field -->
                        <div class="form-group col-sm-12 ml-5 ">
                            <label for="itemNo">Item Code</label>
                            <select class="form-control" id="itemNo" formControlName="ItemCode" (change)="onSubmit()">
                              <option [ngValue]="undefined" selected>Select</option>
                              <option *ngFor="let inspectionItem of inspectionService.inspectionItems"
                                    [value]="inspectionItem.No">
                                    {{inspectionItem.Description}}
                            </select>
                            <div *ngIf="f.ItemCode.errors?.required && f.ItemCode.invalid" class=" text-danger">
                            </div>
                        </div>
                    </div>
                    <div class="row col-sm-6">
                        <!-- Employer Field -->
                        <div class="form-group col-sm-12 ml-5 mt-5">
                            <label for="headerNo">System generated No.</label>
                            <input type="text" id="headerNo" formControlName="DocumentNo"
                                [(ngModel)]="inspectionService?.inspectionHeader.No" class="form-control" readonly>
                        </div>
                        <!-- Technician field -->
                        <div class="col-md-6">
                            <div class="form-group col-sm-12">
                                <input type="text" id="headerNo" formControlName="TechnicianNo" [(ngModel)]="userId"
                                    class="form-control" hidden>
                            </div>
                        </div>
                    </div>
                </div>
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            </form>
            <form [formGroup]="inspectionService.forModelListItems" (ngSubmit)="onChecked()" autocomplete="off">
              <div class="col-md-12 mr-5">
                  <div class="table-responsive" *ngIf="inspectionService.inspectionLines?.length > 0">
                      <table class="table m-4">
                          <thead class=" text-secondary">
                              <th> Inspection Area</th>
                              <th>Comments</th>
                              <th>Status</th>
                          </thead>
                          <tr *ngFor="let inspectionLine of inspectionService.inspectionLines">
                              <!-- <td>{{ inspectionLine.LineNo }}</td> -->
                              <td>{{ inspectionLine.InspectionArea }}</td>
                              <td><input type="text" id="headerNo" class="form-control" formControlName="Comments"
                                      [(ngModel)]="inspectionLine.Comments"></td>
                              <th scope="row">
                                  <label><input type="checkbox" formControlName="Checked" [value]="inspectionLine.LineNo"
                                          [(ngModel)]="inspectionLine.Checked" [checked]="inspectionLine.Checked"
                                          (change)="onCheckboxChange(inspectionLine)">Check</label>
                              </th>
                          </tr>
                      </table>
                      <hr>
                      <button class="btn btn-primary pull-justify"><i class="fa fa-window-close"></i>Close
                          Inspection
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        </button>
                  </div>
              </div>
          </form>
        </div>
    </div>
</div>

