<div class="login-container">
  <div class="row">
    <div class="card mt-5">
      <div class="auth-form-lights">
        <div class="d-flex p-3 bg-light text-primary">
          Reset your password here!!
        </div>
        <div ng-app="myApp" ng-controller="myController" class="container">
          <form [formGroup]="serviceForgotPassword.formModel"(submit)="onSubmit()" autocomplete="off">
            <div class="form-group">
              <label for="tenant-No">Technician Number</label>
              <input formControlName="TechnicianNo" id="technician-No" type="text" class="form-control">
              <div *ngIf="f.TechnicianNo.touched && f.TechnicianNo.invalid" class="text-danger">
                <div *ngIf="f.TechnicianNo.errors?.required">Technician No  </div>
              </div>
            </div>
            <div >
              <button type="submit"  class="btn btn-primary btn-block"   [disabled]="!serviceForgotPassword"  >
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
