<router-outlet></router-outlet>
<div class="login-container">
  <div class="row">
    <div class="jumbotron">
      <div class="auth-form-lights">
        <div class="brand-logo">
          <img src="assets/img/loginImg.jpeg" alt="logo">
        </div>
        <!-- <h6 class="font-weight-bolder p-2">Sign in to continue.</h6> -->
        <form [formGroup]="serviceLogin.formModel"(submit)="onSubmit()" autocomplete="off">
          <div class="form-group">
            <label for="tech_no"> Technician Number</label>
            <input formControlName="TechnicianNo" id="tech_no" type="text" class="form-control">
            <div *ngIf="f.TechnicianNo.touched && f.TechnicianNo.invalid" class=" text-danger">
              <div *ngIf="f.TechnicianNo.errors?.required">Technician No is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input
              formControlName="Password" id="Password" type="Password" class="form-control">
            <div *ngIf="f.Password.touched && f.Password.invalid" class="text-danger">
              <div *ngIf="f.Password.errors?.required">Password is required.</div>
            </div>
          </div>
          <div >
            <button type="submit" class="btn btn-primary btn-block btn-lg " [disabled]="!serviceLogin.formModel.valid">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              LogIn</button>
          </div>
          <div class="row m-10">
            <div class="col-6">
            </div>
            <div class="col-6">
              <a  class="text-danger" href="/technicianportal/forgotPassword">
                Forgot password ?
              </a>
            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
