<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <p style="color: red; text-align: center;"><strong >{{idleState}}</strong></p>
    <p *ngIf="lastPing"><small>Last keepalive ping <strong>{{lastPing | amTimeAgo}}</strong></small></p>
    <strong hidden>Do you want to continue?</strong ><br>
    <button (click)="reset()" *ngIf="timed ">yes</button>
    <button (click)="reset()" *ngIf="timedOut">Restart</button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <form>
        <div class="input-group no-border mr-5">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form>
      <!--      <span class="mb-0 text-sm  font-weight-bold">{{email}}</span>-->
      <ul class="navbar-nav ml-5 ">
        <li class="nav-item">
          <a (click)="logout()">
            <i class="nc-icon nc-button-power"></i>
            <p>
              <!--              <span class="mb-0 text-sm  font-weight-bold">{{tenantNo}}</span>-->
              <span class="d-md-block">LOGOUT</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
