/* You can add global styles to this file, and also import other style files */
.login-container{
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

.error{
  color: tomato;
  font-size: 12px;
  padding-top: 4px;
}
.card{
  width: 500px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
  border: 2px solid #3498db;

}
input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  border-radius: 0px;
  margin-bottom: 50px;
}
.btn{
  margin-top: 50px;
  margin-bottom: 20px;
}
.parent{
  margin-bottom: 20px;
}
.d-flex{
  font-size: 24px;
  margin-bottom: 50px;
  justify-content: center;
  column-width: auto;
}
/*.g-recaptcha {*/
/*  transform:scale(0.1);*/
/*  -webkit-transform:scale(2);*/
/*  transform-origin:1%;*/
/*  -webkit-transform-origin:0 0;*/
/*}*/

/* You can add global styles to this file, and also import other style files */
