<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col mb-3">
            Assigned Tickets
          </div>
        </div>
      </div>
      <!-- <div class="card-body"> -->
<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>
        No
      </th>
      <th>
        Property Description
      </th>
      <th>
        Floor Number
      </th>
      <th>
        Unit Number
      </th>
      <th>
        Category
      </th>
      <th>
        Request Status
      </th>
      <th>
        Maintenance Description
      </th>
      <th>
        Status
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tickets of assignedTicketService.assignedTickets">
      <td style="width: 1%;">{{tickets.No}}</td>
      <td style="width: 4%;">{{tickets.PropertyDescription}}</td>
      <td style="width: 4%;">{{tickets.FloorNo}}</td>
      <td style="width:  4%;">{{tickets.UnitNo}}</td>
      <td style="width: 4%;">{{tickets.Category}}</td>
      <td style="width: 4%;">{{tickets.RequestStatus}}</td>
      <td style="width: 25%;">{{tickets.DescriptionOfMaintenace}}</td>
      <td style="width: 2%;">{{tickets.Status}}</td>
      <td style="width: 2%;">
        <button type="button" class="btn btn-primary btn-sm" (click)="open(mymodal, tickets)" >Comment & Close</button>
      </td>
    </tr>
  </tbody>
</table>
          <ng-template #mymodal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Add Comments and Close Tickets</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" [formGroup]="assignedTicketService.formModel" (submit)="onSubmit()" autocomplete="off"  >
                <p>(Fields marked * are required)</p>
                <div class="row">
                  <div class="row">
                    <div class="col">
                      <div class="form-group col-sm-12">
                        <label for="description">Description*:</label>
                        <textarea class="textarea form-control " formControlName="TechnicianComments" cols="90" rows="20" id="description" maxlength="250" ></textarea>
                      </div><!--form-group-->
                    </div><!--col-->
                  </div><!--row-->
                  <div class="row">
                    <div class="col">
                      <div class="form-group col-sm-12">
                        <input type="text" id="no" formControlName="No" [(ngModel)]="assignedTicks.No" class="form-control" hidden>
                      </div><!--form-group-->
                    </div><!--col-->
                  </div><!--row-->
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group col-sm-12 mb-0 clearfix">
                      <hr>
                      <button class="btn btn-primary pull-right"><i class="fas fa-save"></i>Close Tickets</button>
                    </div><!--form-group-->
                  </div><!--col-->
                </div><!--row-->
              </form>
            </div>
          </ng-template>
      </div>
    </div>
  </div>
<!-- </div> -->
